<p>
  <b>Reference Date Type:</b>
  <%=h @refdttype.dttype %>
</p>

<p>
  <b>Notes:</b>
  <%=h @refdttype.notes %>
</p>


<%= link_to 'Edit', edit_refdttype_path(@refdttype) %> ::
<%= link_to 'List All', refdttypes_path %>