<p>
  <b>Rule:</b>
  <%=h @rulereminderlink.rule_id %>
</p>

<p>
  <b>Reminder:</b>
  <%=h @rulereminderlink.reminder_id %>
</p>


<%= link_to 'Edit', edit_rulereminderlink_path(@rulereminderlink) %> |
<%= link_to 'Back', rulereminderlinks_path %>