<p>
  <b>Rule:</b>
  <%=h @actionrulelink.rule_id %>
</p>

<p>
  <b>Action:</b>
  <%=h @actionrulelink.aaction_id %>
</p>


<%= link_to 'Edit', edit_actionrulelink_path(@actionrulelink) %> |
<%= link_to 'Back', actionrulelinks_path %>